html {
  scroll-behavior: smooth;
}

#about{
  color: #002C66;
  /* min-height: 100vh; */
}

#about h1{
  font-size: 3.5rem;
}

#about hr{
  padding: 2px;
  background-color: #002C66;
  opacity: 1;

}

footer{
    background-color: #002C66;
}

footer button{
    background-color: #002C66!important;
    border: none!important;
}

/* brand logo css */

@font-face {
  font-family: amsterdam-two;
  src: url(Assets/Fonts/amsterdam-two-ttf.ttf);
}

#brand_logo{
    font-family: amsterdam-two;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#brandS{
    color: #737373;
}

#footer_bg {
  position: relative;
}

#footer_bg:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url("Assets/Images/footer\ image.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

#footer_content {
  position: relative;
}


/* Section 3 and footer CSS is Above */

#hamburger {
  color: #fff;
}


#Head {
  min-height: 100vh;
  background-color: #002c66;
}

.navbar-toggler {
  border: none !important;
}

.navbar {
  color: #ffffff;
}

.title h1 {
  font-size: 4.5rem;
  font-family: "Merriweather", serif;
  position: relative;
}

.nav-link {
  color: #fff !important;
  font-weight: bold;
  text-align: center;
}

#downArrow {
  position: absolute;
  top: 90%;
  animation: MoveUpDown 1.5s linear infinite;
}

@keyframes MoveUpDown {
  50% {
    transform: translateY(-10px);
  }
}

#Head:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url("Assets/Images/topImg2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

@media (max-width: 600px) {
  .title h1 {
    font-size: 3rem;
    margin-top: -5rem;
  }
}



/*for the second  section*/


.reasons{
  /* height: 100vh; */
  text-align: center;
}
.reasons-text{
  padding: 5%;

}

.box{
  display:inline-block;
  width:230px;
  height:350px;
  border:1px solid 	#808080;
    position:relative;

}
.inside-box-text{
  padding-top: 90%;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color:#003399;

}
.inside-box-line{
  padding-top: 0;;
  color: gray;
  margin:auto;
  opacity: 1;
  position: relative;


  width: 80%;
  text-align: center;
}
hr:not([size]) {
  height: 2px;
}
.inside-box-number{
  padding-top: 4%;
  padding-bottom: 2%;
}

.l1{
  color:red;
}
.l2{
color: yellow;
}
.l3{
  color:green;
}
.l4{
  color:blue;
}
.reasons-link{
  padding:3%;
}
.main-text,.sub-text{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #003399;
}

/*new added for responsive*/

@media (max-width: 600px) {
  .title h1 {
    font-size: 3rem;
    margin-top: -5rem;
  }
}
