#about{
  color: #002C66;
  /* min-height: 100vh; */
}

#about h1{
  font-size: 3.5rem;
}

#about hr{
  padding: 2px;
  background-color: #002C66;
  opacity: 1;

}

footer{
    background-color: #002C66;
}

footer button{
    background-color: #002C66!important;
    border: none!important;
}

/* brand logo css */

@font-face {
  font-family: amsterdam-two;
  src: url(Assets/Fonts/amsterdam-two-ttf.ttf);
}

#brand_logo{
    font-family: amsterdam-two;
    -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

#brandS{
    color: #737373;
}

#footer_bg {
  position: relative;
}

#footer_bg:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url("Assets/Images/footer\ image.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

#footer_content {
  position: relative;
}


/* Section 3 and footer CSS is Above */





/* body, html {
  margin: 0;
  height: 100%;
} */


.navbar-toggler{
    border: none!important;
}

#hamburger{
    color: #fff;
}

h1{
  font-size: 4.5rem;/*new addition*/
}

.navbar {
  /* margin-left: 30px;
  margin-right: 50px;*/
  margin-top: 2rem; 
  color: #ffffff;
}

.title {
  /*title section.*/
  background-image: url("Assets/Images/topImg2.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  transition: 2.5s;
}

.title-text {
/*for the get yourself text.*/
  margin-top: 10%;
  color: #ffffff;
  font-family: 'Merriweather', serif;
  margin-left: 30px;
  text-align: left;
}

.layer {
  background-color: rgba(0, 44, 102, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.collapse.navbar-nav.item.nav-link {
  /*for the links in navbar*/
  color: #ffffff;
}

.navbar-light .navbar-brand {
  /*for the folio brand*/
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}

.icon { /*arrow placement*/
  align-items: center;
  color: white;
  margin-left: 48%;
  margin-top: 45%;
  animation: MoveUpDown 1.5s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown { /*for arrow animation*/
  0%, 20% {
    transform: translateY(20);
  }

  50% {
    transform: translateY(-100px);
  }
}


/*for the second  section*/


.reasons{
  height: 100vh;
  text-align: center;
}
.reasons-text{
  padding: 5%;

}

.box{
  display:inline-block;
  width:230px;
  height:350px;
  border:1px solid 	#808080;
    position:relative;

}
.inside-box-text{
  padding-top: 90%;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color:#003399;

}
.inside-box-line{
  padding-top: 0;;
  color: gray;
  margin:auto;
  opacity: 1;
  position: relative;


  width: 80%;
  text-align: center;
}
hr:not([size]) {
  height: 2px;
}
.inside-box-number{
  padding-top: 4%;
  padding-bottom: 2%;
}

.l1{
  color:red;
}
.l2{
color: yellow;
}
.l3{
  color:green;
}
.l4{
  color:blue;
}
.reasons-link{
  padding:3%;
}
.main-text,.sub-text{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #003399;
}

/*new added for responsive*/

@media  (max-width:600px){
  /* #head{
    background-image:url("topImg2.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    position: relative;
     transition: 2.5s;
  } */
  .row{
    padding-top: 30%;
    padding-bottom: 10%;
    padding-right: 10%;
  }
  h1{
    font-size: 2.8rem;
    }

    /* .navbar-light .navbar-brand{
      font-size: 2.5rem;
    } */
}
