html {
  scroll-behavior: smooth;
}

#weAre{
  font-size: 3rem;
}

#about{
  color: #002C66;
  /* min-height: 100vh; */
}

#about h1{
  font-size: 3.5rem;
}

#about hr{
  padding: 2px;
  background-color: #002C66;
  opacity: 1;

}

footer{
    background-color: #002C66;
}

footer button{
    background-color: #002C66!important;
    border: none!important;
}

/* brand logo css */

@font-face {
  font-family: amsterdam-two;
  src: url(Assets/Fonts/amsterdam-two-ttf.ttf);
}

#brand_logo{
    font-family: amsterdam-two;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

#brandS{
    color: #737373;
}

#footer_bg {
  position: relative;
}

#footer_bg:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url("Assets/Images/footer\ image.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

#footer_content {
  position: relative;
}


/* Section 3 and footer CSS is Above */

#hamburger {
  color: #fff;
}


#Head {
  min-height: 100vh;
  background-color: #002c66;
}

.navbar-toggler {
  border: none !important;
}

.navbar {
  color: #ffffff;
}

.title h1 {
  font-size: 4rem;
  /* font-family: "Merriweather", serif; */
  position: relative;
  font-weight: bold;
}

.nav-link {
  color: #fff !important;
  font-weight: bold;
  text-align: center;
}

#downArrow {
  position: absolute;
  top: 90%;
  animation: MoveUpDown 1.5s linear infinite;
    color: #fff !important;
}

@keyframes MoveUpDown {
  50% {
    transform: translateY(-10px);
  }
}

#Head:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  opacity: 0.3;
  background-image: url("Assets/Images/topImg2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

}

@media (max-width: 600px) {
  .title h1 {
    font-size: 3rem;
    margin-top: -5rem;
  }
}



/*for the second  section*/


.reason-group > .row {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
}
.reason-group > .row > .col {
  display: inline-block;
}

#reasons{
  color: #002C66;
}

#Link{
  color: inherit;
  text-decoration: none;
}

.reason-group .col {
  font-size: 1.5rem;
  font-weight: bold;
  border-style: solid;
  border-width: 1px 1px 1px 0 ;
  border-color: #DADADA;
  width: 15rem;
  height: 25rem;
  padding-top: 3rem;
  transition-duration: 0.7s;
}

.reason-group .line{
  margin-bottom: 7rem;
}

.reason-group .line2{
  margin: 2rem;
}

.reason-group .reasonInfo{
  font-size: 1rem;
  font-weight: normal;
}


.reason-group .col:hover{
  color: #fff;
  opacity: 0.6;
}

.reason-group .row::-webkit-scrollbar {
  width: 0 !important;
}
.reason-group .row {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.reason-group hr{
  opacity: 1;
}

.reason-group #col1 {
  border-width: 1px;
}

.reason-group #col1:hover {
  background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.reason-group #col2:hover {
  background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.reason-group #col3:hover {
  background: #DCE35B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.reason-group #col4:hover {
  background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.reason-group #col5:hover {
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*new added for responsive*/

@media (max-width: 600px) {
  .title h1 {
    font-size: 3rem;
    margin-top: -5rem;
  }
}
